<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  <display-name>YSWebPortfolioServlet</display-name>
  <welcome-file-list>
    <welcome-file>Index.java</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.yslab.portfolio.Viewer.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Manage</servlet-name>
    <servlet-class>com.yslab.portfolio.Viewer.Manage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Manage</servlet-name>
    <url-pattern>/Manage/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Page</servlet-name>
    <servlet-class>com.yslab.portfolio.Viewer.Page</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Page</servlet-name>
    <url-pattern>/Page/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Category</servlet-name>
    <servlet-class>com.yslab.portfolio.Viewer.Category</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Category</servlet-name>
    <url-pattern>/Category/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TabManager</servlet-name>
    <servlet-class>com.yslab.portfolio.Manager.TabManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TabManager</servlet-name>
    <url-pattern>/TabManager/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PageManager</servlet-name>
    <servlet-class>com.yslab.portfolio.Manager.PageManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageManager</servlet-name>
    <url-pattern>/PageManager/*</url-pattern>
  </servlet-mapping>
</web-app>